
    
   /* Mobile Nav */
  
   .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
     .container {
        display: inline-flex;
        margin-left: .8%;
        margin-right: 10%;
        padding: 20% ;
        font-size: 1.5rem; 
        flex-direction: column;
        align-items: space-between;
        ;
    }
        .container2 {
            display:inline-flex;
            flex-direction: column;
            padding: 20% ;
            
        }

        .herotext2 {
            position: absolute;
            bottom: 20px;
            margin-left: 10%;
            margin-bottom: -10%;
           color: blanchedalmond;
            font-weight: bold;
            font-size: 200%;
        }

        .herotext3 {
            position: absolute;
            bottom: 20px;
            margin-left: -40%;
            margin-bottom: -15%;
           color: blanchedalmond;
            font-weight: bold;
            font-size: 100%;
         }

         .button {
            position: absolute;
            bottom: -55%;
            right: 50%;
            border: 10px;
            border-radius: 10px;
            background-color: rgb(2, 2, 2);
            padding: 9px 25px;
            color: ivory;
            cursor: pointer;
           transition: all 0.3s ease 0s
            
        }

         
            
    
        
        
        span {
        font-size: .75rem;
    }
  }